# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder

data_path = './2nd-ML100Days/data/Part02/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [6]:
# HW1 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次
print(df.shape)
data = pd.concat([df[:train_num], train_Y], axis=1) #將 訓練資料加入 Survived 欄位
print(data.shape)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    #print(mean_df)
    #print(mean_df.columns)
    data = pd.merge(data, mean_df, on=c, how='left')
    #print(data.columns)
    data = data.drop([c] , axis=1)
    #print(data.columns)
data = data.drop(['Survived'] , axis=1)

(1309, 5)
(891, 6)
                                                Name  Name_mean
0                                Abbing, Mr. Anthony          0
1                        Abbott, Mr. Rossmore Edward          0
2                   Abbott, Mrs. Stanton (Rosa Hunt)          1
3                                Abelson, Mr. Samuel          0
4              Abelson, Mrs. Samuel (Hannah Wizosky)          1
5                     Adahl, Mr. Mauritz Nils Martin          0
6                                    Adams, Mr. John          0
7     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)          0
8                         Aks, Mrs. Sam (Leah Rosen)          1
9                        Albimona, Mr. Nassef Cassem          1
10                            Alexander, Mr. William          0
11                       Alhomaki, Mr. Ilmari Rudolf          0
12                                    Ali, Mr. Ahmed          0
13                                  Ali, Mr. William          0
14                     Allen, Miss. Elisabeth Walton          1
15                          Allen, Mr. William Henry          0
16                    Allison, Master. Hudson Trevor          1
17                      Allison, Miss. Helen Loraine          0
18   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)          0
19                            Allum, Mr. Owen George          0
20   Andersen-Jensen, Miss. Carla Christine Nielsine          1
21                               Anderson, Mr. Harry          1
22           Andersson, Master. Sigvard Harald Elias          0
23                Andersson, Miss. Ebba Iris Alfrida          0
24                 Andersson, Miss. Ellis Anna Maria          0
25                   Andersson, Miss. Erna Alexandra          1
26              Andersson, Miss. Ingeborg Constanzia          0
27                 Andersson, Miss. Sigrid Elisabeth          0
28                       Andersson, Mr. Anders Johan          0
29      Andersson, Mr. August Edvard ("Wennerstrom")          1
..                                               ...        ...
861                 Widegren, Mr. Carl/Charles Peter          0
862                        Widener, Mr. Harry Elkins          0
863                        Wiklund, Mr. Jakob Alfred          0
864                            Wilhelms, Mr. Charles          1
865                               Willey, Mr. Edward          0
866                      Williams, Mr. Charles Duane          0
867                     Williams, Mr. Charles Eugene          1
868                Williams, Mr. Howard Hugh "Harry"          0
869                             Williams, Mr. Leslie          0
870           Williams-Lambert, Mr. Fletcher Fellows          0
871                              Windelov, Mr. Einar          0
872                           Wiseman, Mr. Phillippe          0
873                                Woolner, Mr. Hugh          1
874                               Wright, Mr. George          0
875                              Yasbeck, Mr. Antoni          0
876          Yasbeck, Mrs. Antoni (Selini Alexander)          1
877                         Young, Miss. Marie Grice          1
878                             Youseff, Mr. Gerious          0
879                                Yousif, Mr. Wazli          0
880                            Yousseff, Mr. Gerious          0
881           Yrois, Miss. Henriette ("Mrs Harbeck")          0
882                             Zabour, Miss. Hileni          0
883                            Zabour, Miss. Thamine          0
884                               Zimmerman, Mr. Leo          0
885     de Messemaeker, Mrs. Guillaume Joseph (Emma)          1
886                          de Mulder, Mr. Theodore          1
887                        de Pelsmaeker, Mr. Alfons          0
888                        del Carlo, Mr. Sebastiano          0
889                  van Billiard, Mr. Austin Blyler          0
890                      van Melkebeke, Mr. Philemon          0

[891 rows x 2 columns]
Index(['Name', 'Name_mean'], dtype='object')
      Sex  Sex_mean
0  female  0.742038
1    male  0.188908
Index(['Sex', 'Sex_mean'], dtype='object')
                Ticket  Ticket_mean
0               110152     1.000000
1               110413     0.666667
2               110465     0.000000
3               110564     1.000000
4               110813     1.000000
5               111240     0.000000
6               111320     0.000000
7               111361     1.000000
8               111369     1.000000
9               111426     1.000000
10              111427     1.000000
11              111428     1.000000
12              112050     0.000000
13              112052     0.000000
14              112053     1.000000
15              112058     0.000000
16              112059     0.000000
17              112277     1.000000
18              112379     0.000000
19              113028     0.000000
20              113043     0.000000
21              113050     0.000000
22              113051     0.000000
23              113055     1.000000
24              113056     0.000000
25              113059     0.000000
26              113501     0.000000
27              113503     0.000000
28              113505     1.000000
29              113509     0.000000
..                 ...          ...
651    SOTON/OQ 392082     0.000000
652    SOTON/OQ 392086     0.000000
653    SOTON/OQ 392089     1.000000
654    SOTON/OQ 392090     0.000000
655  STON/O 2. 3101269     1.000000
656  STON/O 2. 3101273     0.000000
657  STON/O 2. 3101274     0.000000
658  STON/O 2. 3101275     0.000000
659  STON/O 2. 3101280     0.000000
660  STON/O 2. 3101285     1.000000
661  STON/O 2. 3101286     1.000000
662  STON/O 2. 3101288     1.000000
663  STON/O 2. 3101289     1.000000
664  STON/O 2. 3101292     0.000000
665  STON/O 2. 3101293     0.000000
666  STON/O 2. 3101294     0.000000
667   STON/O2. 3101271     0.000000
668   STON/O2. 3101279     0.500000
669   STON/O2. 3101282     1.000000
670   STON/O2. 3101283     1.000000
671   STON/O2. 3101290     0.000000
672          SW/PP 751     1.000000
673        W./C. 14258     1.000000
674        W./C. 14263     0.000000
675         W./C. 6607     0.000000
676         W./C. 6608     0.000000
677         W./C. 6609     0.000000
678        W.E.P. 5734     0.000000
679          W/C 14208     0.000000
680          WE/P 5735     0.500000

[681 rows x 2 columns]
Index(['Ticket', 'Ticket_mean'], dtype='object')
     Cabin  Cabin_mean
0      A10    0.000000
1      A14    0.000000
2      A16    1.000000
3      A19    0.000000
4      A20    1.000000
5      A23    1.000000
6      A24    0.000000
7      A26    1.000000
8      A31    1.000000
9      A32    0.000000
10     A34    1.000000
11     A36    0.000000
12      A5    0.000000
13      A6    1.000000
14      A7    0.000000
15    B101    1.000000
16    B102    0.000000
17     B18    1.000000
18     B19    0.000000
19     B20    1.000000
20     B22    0.500000
21     B28    1.000000
22      B3    1.000000
23     B30    0.000000
24     B35    1.000000
25     B37    0.000000
26     B38    0.000000
27     B39    1.000000
28      B4    1.000000
29     B41    1.000000
..     ...         ...
118   E121    1.000000
119    E17    1.000000
120    E24    1.000000
121    E25    1.000000
122    E31    0.000000
123    E33    1.000000
124    E34    1.000000
125    E36    1.000000
126    E38    0.000000
127    E40    1.000000
128    E44    0.500000
129    E46    0.000000
130    E49    1.000000
131    E50    1.000000
132    E58    0.000000
133    E63    0.000000
134    E67    0.500000
135    E68    1.000000
136    E77    0.000000
137     E8    1.000000
138  F E69    1.000000
139  F G63    0.000000
140  F G73    0.000000
141     F2    0.666667
142    F33    1.000000
143    F38    0.000000
144     F4    1.000000
145     G6    0.500000
146   None    0.299854
147      T    0.000000

[148 rows x 2 columns]
Index(['Cabin', 'Cabin_mean'], dtype='object')
  Embarked  Embarked_mean
0        C       0.553571
1     None       1.000000
2        Q       0.389610
3        S       0.336957
Index(['Embarked', 'Embarked_mean'], dtype='object')
shape : (891, 5)
score : 1.0
time : 0.013962984085083008 sec

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

    **從結果來看，使用均值編碼可以讓分數達到1，高於標籤編碼，猜測主要是因為鐵達尼生存預測的目標值**

In [8]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.030921459197998047 sec

In [9]:
# 均值編碼 + 邏輯斯迴歸
estimator = LogisticRegression()
start = time.time()
print(f'shape : {data.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 1.0
time : 0.02593231201171875 sec